*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  background-color: #1b1919;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  margin: auto;
  width: 1140px;
  margin-top: 133px;
  margin-left: 30px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 388px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 711px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  width: 212px;
  align-content: space-around;
  flex-wrap: wrap;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255 255 255 / 1);
  white-space: nowrap;
  margin-bottom: -3px;
  margin-right: 118px;
}

.search-form__label {
  display: inline;
  width: fit-content;
  margin-bottom: 4px;
}

.search-form__label:has(:focus) {
  outline: solid 2px rgb(255 255 255 / 1);
  outline-offset: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: solid 2px rgb(255 255 255 / 1);
  outline-offset: 1px;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background: transparent;
  appearance: none;
  cursor: pointer;
  outline: 0;
  border-top: 1px solid rgb(255 255 255 / 0.7);
  border-bottom: 1px solid rgb(255 255 255 / 0.7);
  border-right: none;
  border-left: none;
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:active {
  border-right: 1px solid rgb(255 255 255 / 0.7);
  border-left: 1px solid rgb(255 255 255 / 0.7);
}

.search-form__textfield:hover {
  text-decoration: none;
}

::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}

.search-form__checkbox {
  display: grid;
  margin-top: -15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: 1px solid rgb(255 255 255 / 1);
  position: relative;
}

.search-form__pseudo-checkbox::before {
  content: " ";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-color: rgb(255 255 255 / 1);
    transform: translate(-50%, -50%);
    margin-top: 9px;
    margin-left: 10px;
    opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.button {
  cursor: pointer;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(255 255 255 / 1);
}

.search-form__submit-button {
  width: 192px;
  height: 34px;
  background: transparent;
  border: 1px solid rgb(255 255 255 / 1);
}

.search-form__submit-button:active {
  background-color: rgb(255 255 255 / 0.3);
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:focus {
  outline: 1px solid rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.search-form__submit-button:focus-visible {
  outline: solid 2px rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.more-button {
  width: 100%;
  height: 35px;
  background: transparent;
  border: 1px solid rgb(255 255 255 / 1);
}

.more-button:active {
  background-color: rgb(255 255 255 / 0.3);
}

.more-button:hover {
  text-decoration: underline;
}

.more-button:focus {
  outline: 1px solid rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.more-button:focus-visible {
  outline: solid 2px rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 534px;
  gap: 26px;
}

.title {
  width: 260px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84 80 80 / 1);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
}

.content__list-item:not(:last-child) {
  padding: 13px 0px;
}

.content__card-link {
  text-decoration: none;
  color: rgb(255 255 255 / 1);
  margin: 2px;
  display: block;
}

.content__card-link:focus {
  outline: 1px solid rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.content__card-link:focus-visible {
  outline: 2px solid rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.content__card-link_current:focus {
  outline: 1px solid rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.content__card-link_current:focus-visible {
  outline: solid 2px rgb(255 255 255 / 1);
  outline-offset: 0px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.content__video-card:active {
  background-color: rgb(255 255 255 / 0.3);
}

.content__video-card-description-container {
  width: 100%;
  height: auto;
}

.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-title:hover {
  text-decoration: underline;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.content__video-card-description:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  height: 101px;
  object-fit: cover;
}